<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<title>{{ page.title }} | 王琦霞 Keisha Ong</title>	
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	
	<body>
		<nav>
		<ul>
			<li id="home"><a href="/">王琦霞 Keisha Ong</a></li>
			<li class="link"><a href="/cv">CV</a></li>
			<li class="link"><a href="/travels">Travels</a></li>
			<li class="last_link"><a href="/blog">Blog</a></li>
		</ul>
		</nav>
		
		<div class="container">
			{{ content }}
		</div>
			
		<footer>
		<ul>
	        	<li class="link"><a href="mailto:keishaong1995@gmail.com">keishaong1995@gmail.com</a></li>
	        	<li class="last_link"><a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/keishaong/">LinkedIn</a></li>
		</ul>
		</footer>
	
	</body>
</html>
